<div class="container">
  <h3>Product List</h3>
  <table class="table">
    <thead >
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Date Created</th>
      <th>Date Updated</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price | currency}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.date_created | date}}</td>
        <td>{{product.date_updated | date}}</td>
        <td>
          <form>
            <input type="submit" value="Delete">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>